.details{
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.smry{
    text-align: center;
    font-size: 25px;
}
.dtls{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

}
.order{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.order button{
    height: 30px;
    width: 90%;
    cursor: pointer;
    border-radius: 5px;
    color: black;
    background: rgb(253, 223, 253);
    border: none;
    font-size: 18px;
}
.order button:hover{
    box-shadow: 0 0 20px rgba(253, 223, 253, 0.7), 0 0 30px rgba(98, 0, 234, 0.7), 0 0 40px rgba(253, 223, 253, 0.7);
}
