.dashContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 100%;
    padding: 30px;
    gap: 30px;
}
.dashContainer .dashes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 40%;
    padding: 10px;
    background: #e2e3e4;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #bebfc0;
    cursor: pointer;
}
.dashContainer .dashes p{
    font-size: 25px;
    font-weight: bold;
}
.dashContainer .dashes h1{
    color: rgb(107, 107, 243);
}
.dashContainer .dashes:hover{
    box-shadow: 8px 8px 8px #bebfc0;

}
