.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-around;
  background: rgb(86, 31, 168);
  font-size: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 0;
}

