/* .productDetailsContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.productDetailsContainer .boundary{
    padding: 30px;
    height: 500px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 10px;
    box-shadow: 10px 10px 10px #808080;
    background: #e0dada;
}
 .productDetailsContainer .boundary .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0;
    background: white;
}
.productDetailsContainer .boundary .product .images{
    display: flex;
    align-items: center;
    justify-content: center;
}
.productDetailsContainer .boundary .product .images .bigImage{
    height: 80%;
    width: 50%;
}
.productDetailsContainer .boundary .product .images .bigImage img{
    height: 80%;
    width: 80%;
    object-fit: contain;
}
.productDetailsContainer .boundary .product .images .description{
    font-size: 16px;
    font-weight: bold;
}
.productDetailsContainer .boundary .product .images .description .price{
    font-size: 40px;
    padding-bottom: 20px;
}
.productDetailsContainer .boundary .product .images .description .dlvry{
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;

}
.productDetailsContainer .boundary .product .images .description .btns{
    display: flex;
    gap: 3px;
    cursor: pointer;
}
.productDetailsContainer .boundary .product .images .description .btns .quantity{
    display: flex;
    gap: 10px;
}
.productDetailsContainer .boundary .product .images .description .btns .quantity button{
    width: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}
.productDetailsContainer .boundary .product .images .description .btns .order{
    width: 100px;
    border: 2px solid black;
    text-align: center;
    background: black;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
/*.boundary .product .images{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.boundary .product .images .bigImage img{
    height: 80%;
    width: 50%;
    object-fit: contain;
}
.boundary .product .description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.boundary .product .smallImage{
    display: flex;
    justify-content: space-evenly;
} */ 



.productDisplay{
    display: flex;
    margin: 50px 170px;
}
.productDisplay-left{
    display: flex;
    gap: 17px;
}
.productDisplay-left-img-list{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.productDisplay-left-img-list img{
    height: 163px;
}
.productDisplay-main-img{
    width: 586px;
    height: 700px;
}
.productDisplay-right{
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
}
.productDisplay-right h1{
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.productDisplay-right-stars{
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.productDisplay-right-prices{
    display: flex;
    margin: 40px 0px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.productDisplay-right-price-old{
    color: #818181;
    text-decoration: line-through;
}
.productDisplay-right-price-new{
    color: #ff4141;
}
.productDisplay-right-buttons{
    display: flex;
    gap: 20px;
}
.producDisplay-right-quantity{
    margin: 30px 0px;
}
.producDisplay-right-quantity button{
    width: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 22px;
    cursor: pointer;

}
.productDisplay-right-buttons button{
    padding: 20px 40px;
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: #ff4141;
    margin: 40px 0px;
    border: none;
    cursor: pointer;
}
.productDisplay-right-buttons .buy-now{
    background: rgb(116, 116, 218);
}